! special
*.foreground:   #dcd7ba
*.background:   #1f1f28
*.cursorColor:  #dcd7ba

! black
*.color0:       #090618
*.color8:       #727169

! red
*.color1:       #c34043
*.color9:       #e82424

! green
*.color2:       #76946a
*.color10:      #98bb6c

! yellow
*.color3:       #c0a36e
*.color11:      #e6c384

! blue
*.color4:       #7e9cd8
*.color12:      #7fb4ca

! magenta
*.color5:       #957fb8
*.color13:      #938aa9

! cyan
*.color6:       #6a9589
*.color14:      #7aa89f

! white
*.color7:       #c8c093
*.color15:      #dcd7ba
